<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="UserName" value="testUser" />
    <add key="Password" value="Test1234" />
    <!--<add key="UrlToTest" value="file:///C:\Users\Jason\Documents\Visual Studio 2017\Projects\PaylocityQuiz\Quiz\login.html" />-->
    <add key="UrlToTest" value="\Quiz\login.html" />
    <add key ="IEDriverLocation" value="TBD"/>
    <add key="ChromeDriverLocation" value="TBD"/>
    <add key="BrowserType" value="Chrome"/>
    <add key ="Env" value="QA"/>
  </appSettings>
</configuration>